body{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

 body{
    margin-right: 80px;
    margin-left:20px;
    background: linear-gradient(135deg, #0a0f30, #000428);
    color: #f5f5f5;
    font-family: 'Segoe UI', sans-serif;
} 

.head{
    color: rgb(124, 88, 73);
}
.welcome{
   color:bisque;
    text-align: center;
    font-size: 50px;
    text-decoration: blink;
    bottom: 50%;
    left: 27%; 
    animation: defilement 5s linear infinite;
    z-index: -1;
    position: fixed;
}
.onglets{

    display: flex;
    justify-content: flex-end; 
    font-size: 20px;
    position: fixed;
    top: 0;
    top: 15px;
    right: 30px;
    padding: 12px 20px;
    z-index: 100;
    gap: 20px;
    background: #023eBa;
    border-radius: 10px;
     
}

.nom{
color: coral;
font-size: 15px;
top: 0;
left: 0;
position: fixed;
left: 50px;
z-index: 100;
}

.onglets a{
    color: #fff;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
    
}
.avecPhoto{
    justify-content:space-around;
    display: flex;
    justify-content: center;
    margin-top: 8%;

}


#apropos{
    background: rgba(255, 255, 255, 0.05);
    border: 3px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 25px;
    margin: 40px auto;
    width: 45%;
    margin-left: 5%;
}
.titreApro{
    text-align: center;
    color: antiquewhite;
}
.textApro{
    color: antiquewhite;
    justify-content: center;
    margin: 10px;
}

#competence{
    background: rgba(255, 255, 255, 0.05);
    border: 3px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 25px;
    margin: 50px auto;
    width: 45%;
    margin-left: 50%;
}
.titreComp{
    color: antiquewhite;
    text-align: center;}

.textComp{
    justify-content: center;
    color: antiquewhite;
    margin: 10px;
}


#projet{
    background: rgba(255, 255, 255, 0.05);
    border: 3px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 25px;
    margin: 40px auto;
    width: 45%;
    margin-left: 5%;
}
.titreP{
    text-align: center;
    color: antiquewhite;
}
.textP{
    color: antiquewhite;
    justify-content: center;
    margin: 10px;
}



#contact{
    background: rgba(255, 255, 255, 0.05);
    border: 3px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 20px;
    margin: 40px auto;
    width: 45%;
    margin-left: 50%;
}
.titreC{
    text-align: center;
    color: antiquewhite;
}
.textC{
    color: antiquewhite;
    justify-content: center;
    margin: 10px;
}


img{
    margin-left: 200px;
    width: 300px;
    height: 300px;
    border-radius: 50px;
}

.textepropre{
    margin-right: 200px;
    font-size: 25px;
    z-index: -1;
    color: darkgray;
    margin-left: 20px;
}

.formulaire{
justify-content: center;
text-align: center;
/* width:70% ; */
}
.whatsapp{
    display: flex;
    right: 50%;
    
}
.whatsapp img{
    height: 30px; 
    width: 30px;
}
form{
padding: 15px;
border-radius: 15px;
margin:0 80px;
text-align: center;
background-color: rgb(1, 90, 95);
width: 65%;
}
form input[type="text"],form input[type="email"],form textarea
{
border: none;
width: 100%;
padding: 10px 1px;
margin: 5px 0px;
font-size: 1.2rem;
border-radius: 15px;
}
form input[type="submit"]{
color: rgb(246, 247, 248);
background: linear-gradient(135deg, #0a0f30, #000428);

border: none;
width: 100%;
padding: 10px 0px;
margin: 5px 0px;
font-size: 1.2rem;
border-radius: 15px; 
}

footer{
    color: rgb(223, 240, 234);
    margin-top: 200px; 
    padding:30px;
    background-color: black;
    text-align: center;
    width: 100%;
    height: 200px;
} 

footer .sectionFoot{
    display: flex;
    justify-content: space-between;
}
footer .liens {
    /* width: 20px; */
}
footer .liens img{
    width: 30px; 
    height: 20px; 
}
footer .foot{

}
